<h3>Welcome {{user.displayName}}</h3>
<a href="/profile/edit" class="btn">
  <i class="fas fa-edit"></i> Edit Profile
</a>
<br />
<br />
<img src="{{user.image}}" alt="">
<br />
<br />
<table class="sizes">
  <tbody>
    <tr><th>Gender: </th><td>{{user.gender}}</td></tr>
    <tr><th>Race/Ethnicity: </th><td>{{user.ethnicity}}</td></tr>
    <tr><th>Height: </th><td>{{user.height}}</td></tr>
    <tr><th>Weight: </th><td>{{user.weight}}</td></tr>
    <tr><th>Union Status: </th><td>{{user.unionStatus}}</td></tr>
    <tr><th>Jacket: </th><td>{{user.jacket}}</td></tr>
    <tr><th>Shirt: </th><td>{{user.shirt}}</td></tr>
    <tr><th>Pants: </th><td>{{user.pants}}</td></tr>
    <tr><th>Shoes: </th><td>{{user.shoes}}</td></tr>
    <tr><th>Dress: </th><td>{{user.dress}}</td></tr>
    <tr><th>Bust/Waist/Hips: </th><td>{{user.bustWaistHips}}</td></tr>
    <tr><th>Phone Number: </th><td>{{user.phoneNumber}}</td></tr>      
  </tbody>
</table>
<br>